.anime.title {
	color: #8040ff;
	border: 2px dotted black;
	width: 200px;
	text-align: center;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;

}

.blue {
	background-color: blue;
}

.anime.title:hover{
	color: red;
	background-color: dimgrey;
}

.anime.title:active{
	color: yellow;

